<div class="container">
       <div class="row">
           <div class="col col-sm-6" >
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas libero, pariatur optio reiciendis doloremque fuga itaque similique repellendus commodi labore perferendis ullam accusantium, nam, hic ducimus facilis corrupti sapiente iste.
           </div>
           <div class="col col-sm-6">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, explicabo eum. Velit corporis similique beatae sed autem perferendis dolore odit eligendi eaque dicta, quidem dolorum commodi! Asperiores autem est nesciunt!
           </div>
       </div>

   </div>
